<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head', {title: 'Inicio'}); %>  
    <body class="body_home">
    <!-- header -->

    <%- include('../partials/header'); -%>
    
    <!-- main -->
    <main class="main_contacto">
        <h2>Dejanos tu consulta y te estaremos contactando a la brevedad.</h2>
        <% if(usuario){%>
        <form class="contact">
            <label for="nombre">Nombre</label>
            <input class="cuadroBlancoDatos" type="text" name="nombre"value="<%= usuario.first_name %> ">
            <label for="mail">Email</label>
            <input class="cuadroBlancoDatos" type='mail' name="mail" value="<%= usuario.email%>">
            <label for="Mensaje">Dejanos tu mensaje!</label>
            <textarea class="cuadroBlancoDatos" name="mensaje" type='textarea' rows='5' cols='50'></textarea>
            <button type="submit" class="botonInicioPa">ENVIAR</button>
        </form>
        <%}else{%>
            <form class="contact">
                <label for="nombre">Nombre</label>
                <input class="cuadroBlancoDatos" type="text" name="nombre">
                <label for="mail">Mail</label>
                <input class="cuadroBlancoDatos" type='mail' name="mail">
                <label for="Mensaje">Dejanos tu mensaje!</label>
                <textarea class="cuadroBlancoDatos" name="mensaje" type='textarea' rows='5' cols='50'></textarea>
                <button class="botonInicioPa" type="submit">ENVIAR</button>
            </form>
        <% } %> 
    </main>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>