<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head', {title: 'Inicio'}); %>  
    <body class="body_home">
    <!-- header -->

    <%- include('../partials/header'); -%>
    
    <!-- main -->
    <main>
        <section class="home_main_Categorias">
          <div class="home_main_Categorias_Divs">
            <a href="/pianos" class="Home_Categ_Pianos"
              ><img src="/images/logo piano.png"
            /></a>
            <% %> 
            <div class="Home_Detalle_categoria_Pianos">
              <div class="Home_cuadrado">
                <i class="fas fa-square-full"></i>
              </div>
              <h2><%= categoria %> </h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="/products/detail/<%= selectedProd.id %> "><img src="/images/products/<%= selectedProd.image %>" /></a>
                <a href="/products/detail/<%= selectedProd.id %>"><h4><%= selectedProd.name %> </h4></a>
                <p>$ <%= selectedProd.price %> </p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="/products/category/<%= categoria %> "><p>Ir a Categoría</p></a>
              </div>
            </div>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="/guitarras" class="Home_Categ_Guitarras"
              ><img src="/images/logo guitarra.png"
            /></a>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="/viento" class="Home_Categ_Viento"
              ><img src="/images/logo viento.png"
            /></a>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="/accesorios" class="Home_Categ_Accesorios"
              ><img src="/images/logo accesorios.png"
            /></a>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="/produccion" class="Home_Categ_Produccion"
              ><img src="/images/logo mic.png"
            /></a>
          </div>
        </section>
        <section class="Home_Detalle_categoria"></section>
        <section class="Home_Desktop">
          <h2>¿Qué buscas?</h2>
          <div class="Home_Categorias_Desktop">
            <!-- PIANO -->
            <article class="Home_Categoria_Art_Desktop">
              <img src="/images/logo piano.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Pianos</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- GUITARRA -->
            <article class="Home_Categoria_Art_Desktop_1">
              <img src="/images/logo guitarra.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Guitarras y Bajos</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- INST. VIENTO -->
            <article class="Home_Categoria_Art_Desktop">
              <img src="/images/logo viento.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Instrumentos de Viento</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="/products/viento"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- ACC. -->
            <article class="Home_Categoria_Art_Desktop_1">
              <img src="/images/logo accesorios.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Accesorios</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- PROD. -->
            <article class="Home_Categoria_Art_Desktop">
              <img src="/images/logo mic.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Producción Musical</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
          </div>
        </section>
      </main>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>