
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Login'}); %>  
<body>
    <!-- header -->
    <%- include('../partials/header') %> 

    <!-- Container -->
    <div class="container-user-profile">
        
        <div class="profile-img">
            <img src="../images/users/<%= user.avatar %> ">
        </div>
        <div class="info-user-profile">
                <h2>Hi <%= user.nombre %>!</h2>
                <p>lorem ipsum dolor sit amet, consectetur</p>
                <br>
                <br>
            <h3 class="alert alert-success"><%= user.email %> </h3>
            <br>
            <!-- <a class="user-edit-delete-profile">Editar</a>
            <br>
            <a class="user-edit-delete-profile">Elimina tu perfil</a> -->
        </div>
    
    </div>
    
    
      <!-- footer -->
<%- include('../partials/footer') %> 
</body>
 