
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Login'}); %>  
<body>
    <!-- header -->
    <%- include('../partials/header') %> 

    <!-- Container -->
    <div class="container-user-profile">
        <h2>Bienvenido/a <strong><%= user.first_name %></strong> !!!</h2>
        <div class="profile-img">
            <img src="../images/users/<%= user.avatar %> ">
        </div>
        <div class="info-user-profile">
            <h3 class= "profile-subtitulos"> Username: </h3>
               <p class= "profile-subtitulos-valores"><%= user.username %>!</p>
               <br>
               
            <h3 class= "profile-subtitulos"> Email: </h3>
                <p class= "profile-subtitulos-valores"><%= user.email %></p>
                <br>
                
            <h3 class= "profile-subtitulos">Categoria:</h3>
                <p class= "profile-subtitulos-valores"><%= user.category_id ==1? "Administrador" : "Usuario regular" %></p>
               
            <!-- <a class="user-edit-delete-profile">Editar</a>
            <br>
            <a class="user-edit-delete-profile">Elimina tu perfil</a> -->
        </div>
    
    </div>
    
    
      <!-- footer -->
<%- include('../partials/footer') %> 
</body>
 