<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head.ejs', {title: 'Registro'}); %>

    <body>

        <!-- header -->
        <%- include('../partials/header') %>

        <!-- main -->
        <main class="mainDeRegistro">
            <h2 class="tituloRegistro">Registrate</h2>
            <div class="formuRegistro">

            <form action="/users/register" method="POST" enctype="multipart/form-data" >
                      
                <label for="nombre" class="crear-form-label">Nombre</label>
                <input class="cuadroBlancoDatos" type="text" name="nombre" id="nombre" placeholder="Nombre" 
                <% if(locals.oldData) { %>
                    value = <%= oldData.nombre %> 
                <% } %> />

                    <% if (locals.errors && errors.nombre) { %>
                        <div class= "err-rojo"><%= errors.nombre.msg %></div>
                    <% } %>
                
                <label for="apellido" class="crear-form-label">Apellido</label>
                <input class="cuadroBlancoDatos" type="text" name="apellido" id="apellido" placeholder="apellido" 
                <% if(locals.oldData) { %>
                    value = <%= oldData.apellido %> 
                <% } %> />

                    <% if (locals.errors && errors.apellido) { %>
                        <div class= "err-rojo"><%= errors.apellido.msg %></div>
                    <% } %>

                <label for="email" class="crear-form-label">Correo Electr칩nico</label>
                <input class="cuadroBlancoDatos" type="email" name="email" id="email" placeholder="Correo Electr칩nico" 
                <% if(locals.oldData) { %>
                    value = <%= oldData.email %>
                <% } %> />

                    <% if (locals.errors && errors.email) { %>
                        <div class= "err-rojo"><%= errors.email.msg %></div>
                    <% } %>

                <label for="nombreDeUsuario" class="crear-form-label">Nombre de Usuario</label>
                <input class="cuadroBlancoDatos" type="text" name="nombreDeUsuario" id="nombreDesuario" minlength="4" placeholder="Nombre de usuario" 
                <% if(locals.oldData) { %>
                    value = <%= oldData.nombreDeUsuario %>
                <% } %> />

                    <% if (locals.errors && errors.nombreDeUsuario) { %>
                        <div class= "err-rojo"><%= errors.nombreDeUsuario.msg %></div>
                    <% } %>

                <label for="fecha" class="label-register crear-form-label">Fecha de Nacimiento</label>
                <input class="cuadroBlancoDatos" type="date" name="fecha" placeholder="Fecha De Nacimiento" 
                <% if(locals.oldData) { %>
                    value = <%= oldData.fecha %>
                <% } %> />

                    <% if (locals.errors && errors.fecha) { %>
                        <div class= "err-rojo"><%= errors.fecha.msg %></div>
                    <% } %>

                <label for="categoria" class="crear-form-label">Categoria</label>
                <input class="cuadroBlancoDatos" type="text" name="categoria" id="categoria" placeholder="Categoria" 
                <% if(locals.oldData) { %>
                    value = <%= oldData.categoria %>
                <% } %> />

                    <% if (locals.errors && errors.categoria) { %>
                        <div class= "err-rojo"><%= errors.categoria.msg %></div>
                    <% } %>

                <label for="contrasena" class="crear-form-label">Contrase침a</label>
                <input class="cuadroBlancoDatos" type="password" name="contrasena" id="contrasena" alt="strongPass" minlength="4" placeholder="Contrase침a" />

                    <% if (locals.errors && errors.contrasena) { %>
                        <div class= "err-rojo"><%= errors.contrasena.msg %></div>
                    <% } %>

                <label for="avatar" class="crear-form-label">Inserte una imagen</label>
                <input type="file" class="cuadroBlancoDatos" name="avatar" />
                    <% if (locals.errors && errors.avatar) { %>
                        <div class= "err-rojo"><%= errors.avatar.msg %></div>
                    <% } %>
                
                        
                

                <input type="submit" value="REGISTRAR" class="botonInicioPa">

            </form>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer') %>

    </body>
</html>