<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/music-solid.svg">
    </head>
    <body>
        <!-- header -->
        <%- include('../partials/header.ejs'); %> 
        <!-- main -->
        <main class="carrito-main">
            <!-- <% if(locals.carrito && products.length >0) { %>
                 <div class="busqueda-productos" >
                <label for="contador">Cantidad de SKUs: </label>
                <div name="contador" id="contador"><%= products.length %></div>
            </div>
            <%}%> -->
            
            
            <% if(locals.carrito && products.length >0) { %>
                <div class="carrito75">
                    <div>
                        <h2 class="busqueda-productos-titulo">Resumen del carrito</h2>
                      </div>
            <% products.forEach(function(product,i) { %>
                <% let finalPrice = product.price %>
                   
                <div>
                  <section class="busqueda-productos productoCarrito<%=i%>">
                         <a >
                             <figure>
                                 <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
                             </figure>
                         </a>
                         <div class="ficha-carrito-prod">
                             <article>
                                 <h2>$<%= toThousand(finalPrice) %> </h2>
                                <p><%= product.product_name %></p>
                            </article>
                            <form action="/products/carrito/<%=product.id%>" method="POST">
                                <button type="submit" ><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    <!-- <label for="cantidad">Cantidad</label>

                    <input type="number" name="cantidad" value="1" > -->
                    
                  </section>
                </div>
                <% }) %> 
            </div>
                <section class="carrito-resumen">
                 <div class="carrito-caja">
               
                        <% 
                        this.sum = 0  
                        %>
                        <% products.forEach(function(product,i) { %>
                            <% let finalPrice = product.price %>
                            <% 
                            this.sum += Number(product.price) %>
                            <div class="carrito-a1">
                                <p><%= product.product_name %> <em >(1u)</em></p><p><strong>$<%= toThousand(finalPrice) %></strong></p>
                             </div>
                        <% }) %>
                            <div class="carrito-a3">
                                 <p>Envio</p><p><strong>$500</strong></p>
                            </div>
                            <div class="carrito-a4">
                                 <p><strong>Total</strong></p><p><strong>$<%= toThousand(this.sum +500) %>  </strong></p>
                            </div>
                            <div class="carrito-boton">
                                 Finalizar Compra
                            </div>
                        <% } else { %>
                            
                            <div class= "carrito-vacio">
                                No tienes productos en tu carrito.
                            </div>

                        <% } %>
                    </div> 
        </section>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %> 
</body>
</html>