<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Producto'}); %>  
    <body class="detail-body">
        <!-- header -->
        <%- include('../partials/header') %> 
        <!-- main -->
        <main class="detail-main">
            <h3 class="detail-title"><%= product.product_name %> </h3>
            <div class="detail-product-image">
                <img src= "/images/products/<%= product.image %> " alt="">
            </div>
            <div class="detail-price">
                <h3><%= toThousand(product.price) %> </h3>
                <br>
                <p>Cuotas sin Interés</p>
            </div>
            <div class="detail-description">
                <p><%= product.description %> </p>
            </div>
            <div class="detail-buy">
                <a href="/products/add/<%= product.id %> "  >
                    <h2>
                        Comprar
                    </h2>
                </a>
            </div>
            <a href="/products/edit/<%= product.id %> ">Editar Producto</a>
            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="post">
                <button type="submit">Eliminar</button>
            </form>
            <div class="whatsapp">
                <i class="fab fa-whatsapp"></i>
            </div>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %> 
    </body>
</html>