<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head', {title: 'Edición'}); %>
<!-- head -->

<body class="edit-body">

    <!-- Header -->
    <%- include('../partials/header'); %>
    <!-- Header -->

    <div class="edit-main">
        <div>
            <div class="edit-title">
                <h2>Estás editando <%= productToEdit.product_name %></h2>
            </div>
        </div>
        <div class="edit-form">
            <form class="edit-items" action="/products/edit/<%= productToEdit.id %>?_method=PATCH " method="POST" >
                
                <!-- < productsToEdit.id %> -->
                <div class="edit-name">
                    <label for="name">Nombre del producto:</label>
                    <input type="text" name="nombre" id="name" placeholder="Ej: Guitarra Fender" value='<%= productToEdit.product_name %> '>
                    <% if (locals.errors && errors.nombre) { %>
                        <div class= "err-rojo"><%= errors.nombre.msg %></div>
                    <% } %>
                </div>
                <div class="edit-price">
                    <label for="price">Precio del producto:</label>
                    <input type="text" id="price" name="precio" placeholder="1234" value='<%= productToEdit.price %>'>
                    <% if (locals.errors && errors.precio) { %>
                        <div class= "err-rojo"><%= errors.precio.msg %></div>
                    <% } %>
                </div>
                <div class="edit-description">
                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description"><%= productToEdit.description %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class= "err-rojo"><%= errors.description.msg %></div>
                    <% } %>
                    <!-- < productToEdit.description %> -->
                </div>
                
                <div class="edit-submit">
                    <button type="submit">Guardar</button>
                </div>
                
            </form>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- footer -->

</body>
</html>