<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head', {title: 'Edición'}); %>
<!-- head -->

<body class="edit-body">

    <!-- Header -->
    <%- include('../partials/header'); %>
    <!-- Header -->

    <div class="edit-main">
        <div>
            <div class="edit-title">
                <h2>Estás editando <%= productToEdit.product_name %></h2>
            </div>
        </div>
        <div class="edit-form">
            <form class="edit-items" action="/products/edit/<%= productToEdit.id %>?_method=PATCH " method="POST" >
                <!-- < productsToEdit.id %> -->
                <div class="edit-name">
                    <label for="name">Nombre del producto:</label>
                    <input type="text" name="name" id="name" placeholder="Ej: Guitarra Fender" value='<%= productToEdit.product_name %> '>
                </div>
                <div class="edit-price">
                    <label for="price">Precio del producto:</label>
                    <input type="number" id="price" name="price" placeholder="1234" value='<%= productToEdit.price %> '>
                </div>
                <div class="edit-description">
                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description"value='<%= productToEdit.description %> '></textarea>
                    <!-- < productToEdit.description %> -->
                </div>
                <div class="edit-submit">
                    <button type="submit">Guardar</button>
                </div>
                
            </form>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- footer -->

</body>
</html>