<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('../partials/head.ejs', {title: 'Resultados de la búsqueda'}); %>
  <body>
    <!-- header -->
    <%- include('../partials/header') %>

    <!-- main -->
    <main>
      <div>
        <div>
          <h2 class="busqueda-productos-titulo">Resultados de la búsqueda: <%= search %></h2>
        </div> 
        <% if(products.length > 0) { %>
          <% products.forEach(function(product) { %>
          <% let finalPrice = product.price %>
          <div>
            <section class="busqueda-productos">
              <a href="/products/detail/<%= product.id %>">
              <figure>
                <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
              </figure>
            </a>
              <article>
                <h2>$<%= toThousand(finalPrice) %> </h2>
                <p><%= product.product_name %></p>
              </article>
            </section>
          </div>
          <% }) %> 
        <% }else{ %>
          <div>
            <h2 class="no-hay-productos">No hay productos que coincidan con esta búsqueda</h2>
          </div>
        <% } %> 
      </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
